body {
    /*background: transparent url(../img/background/bg_dart_main.png) repeat-x;*/
}
.navbar {
    background: url("../img/background/bg_main.png") repeat-x scroll 0 0 transparent;
}

.navbar-main .navbar-logo {padding: 8px 0; }
.navbar-bottom .nav-tabs {margin-top: inherit; }

.navbar {border-color: #3db5ea}

.navbar-shift-login .nav-tabs > li.active > a, .navbar-shift-login > .nav-tabs > li.active > .btn-group > a.btn.btn-primary { background-color: #007FBA; border-color: #1D688F}

.navbar-inner {
    background: transparent url(../img/background/bg_main.png) repeat-x;
}

.attachments .drop-down ul li a {color: ##006699;}

.navbar-bottom .nav-tabs>li.active>a,navbar-main>.nav-tabs>li.active>a:hover,
.navbar-bottom .navbar .nav .active>a,.navbar .nav .active>a:hover,
.page-header h1,
h1, h2, h3,
.page-content>.container>.tabbable>.nav-tabs>.active>a,.nav-tabs>.active>a:hover,
.page-content>.container>.tabbable>.nav-tabs>li>a:hover,
.page-content>.container>.tabbable>.nav-tabs>li.active>a:hover,
.form-tab-header>h3 {
    color: #006699;
}